/*
div#mydiv
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    z-index: -1;
}
*/
canvas
{
    text-align: center;
    position: relative;
    float: left;
    color: transparent;
    outline: 1px solid black;
    /* width: 100%;
    height: 100%; */
    display: inline;
    max-width: 100%;
    width: 99%;
    /*z-index: 1;*/
}
/*
#clock 
{
    position: relative;
    width: fit-content;
    font-family: 'Orbitron', sans-serif;
    font-size: 34px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(to left, blue, green, yellow, orange, red, violet, indigo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/

table
{
  position: relative;
  float: left;
}

.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 30px;
    text-align: center;
    font-size: 20px;
  }
  
  .button:hover {
    background-color: #3F3F3F;
  }
  
  .button:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
  }
  
  .W {
    color: #FF0000;
  }
  
  .A {
    color: #00FF00;
  }
  
  .S {
    color: #0000FF;
  }
  
  .D {
    color: #FFFF00;
  }
  
  .round {
    border-radius: 50%;
  }

  #control{
    position: relative;
    margin-top: 10px;
    width: 100%;
    float: left;
  }

  #dpad{
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
  }

  #joystick{
    position: relative;
    float: left;
    text-align: center;
    width: 49%;
    height: 200px;
    border: 1px darkblue solid;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    section.half{
        width: 100%;
    }
  }
